<h3>Categories</h3>
<ul class="tag-box inline">
	{% assign category_list = site.categories %}  
	  {% if category_list.first[0] == null %}
	    {% for cat in category_list %} 
	      <li><a href="/categories/{{ cat | replace: ' ','-' }}">{{ cat | capitalize }} <span>({{ site.categories[cat].size }})</span></a></li>
	    {% endfor %}
	  {% else %}
	    {% for cat in category_list %} 
	      <li><a href="/categories/{{ cat[0] | replace: ' ','-' }}">{{ cat[0] | capitalize }} <span>({{ cat[1].size }})</span></a></li>
	    {% endfor %}
	  {% endif %}
	{% assign category_list = nil %}
</ul>

<h3>When I haven't got time to blog</h3>
<a class="twitter-timeline"  href="https://twitter.com/jdrennison" data-widget-id="392803212186505216">Tweets by @jdrennison</a>
<script>
	!function(d,s,id){
		var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		if(!d.getElementById(id)){
			js=d.createElement(s);
			js.id=id;
			js.src=p+"://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js,fjs);
		}
	}(document,"script","twitter-wjs");
</script>
